<html xmlns:th="https://www.thymeleaf.org/">

<div th:replace="fragments/commonui :: header"></div>


<body>
	<div th:replace="fragments/commonui :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-center text-white">
				<h3>Specialization data</h3>
			</div>
			<div class="card-body">
				<a th:href="@{/spec/excel}" class="btn btn-success">Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
				<table class="table ">
					<tr class="card-header table-hover bg-info">
						<th>ID</th>
						<th>Code</th>
						<th>Name</th>
						<th>Note</th>
						<th>Operation</th>
					</tr>
					<tr th:each="ob:${list}">
						<td th:text="${ob.specId}"></td>
						<td th:text="${ob.specCode}"></td>
						<td th:text="${ob.specName}"></td>
						<td th:text="${ob.specNote}"></td>
						<td>
							<a th:href="@{/spec/delete(id=${ob.specId})}" class="btn btn-danger">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></a> | 
							<a th:href="@{/spec/edit(id=${ob.specId})}" class="btn btn-warning">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
						</td>

					</tr>
				</table>
			</div>
			<div class="card-footer bg-white text-success" th:if="${message != null}">
				<span th:text="${message}"></span>
			</div>
		</div>
	</div>
</body>

</html>